.news {
  margin-bottom: 176px;
}

.news__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  margin-top: 48px;
}

.news__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  margin-top: 8px;
}

.news__slider {
  margin-top: 46px;
  position: relative;
}

.news__button {
  display: flex;
  position: absolute;
  right: 1rem;
  gap: 0.5rem;
  margin-top: 46px;
}

.news__sliderGrid {
  display: flex;
  gap: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: 5px;
}

.sliderButton {
  background-color: #003cff;
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #003cff;
}

.sliderButton img {
  filter: invert(100%);
}

.sliderButton:hover {
  background-color: #3860e3;
}

.sliderButton:disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}

.sliderButton:disabled img {
  filter: none;
}

@media (max-width: 992px) {
  .news__sliderGrid {
    max-width: 100%;
    gap: 20px;
  }

  .news__button {
    display: flex;
    position: initial;
    justify-content: center;
  }
}

@media (max-width: 500px) {
}
